<!DOCTYPE html>
<html>
  <head>
    <title>HotWire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <%= render 'shared/nav_bar' %>
    <main class="container">
      <div id="flash">
        <%= render 'shared/flash' %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
